@font-face {
			font-family: "Royal_Chicken";
			src: url(fonts/royalchicken.ttf) format("truetype");
		}

html, body {

	font-family: 'Open Sans', sans-serif;		

	height: 100%;		
}

/* DOCUMENT ELEMENTS */

.navbar-brand {

	font-family: "Royal_Chicken" !important;
	color: rgb(203,32,39) !important; 
	
	font-size: 54px;
}

.container {

	/* take up the entire screen */

	width: 100%;	
	height: 100%;

	min-height:100%;
}

.header {

	/* place the header 50px from the top, sides and margin*/

	width: 95%;

	padding: 50px 20px 10px;
	margin: 5px auto;

	border-bottom: 1px solid #ccc;
}

.content {
	
	width: 90%;

	margin: 10px auto;	

	text-align: center;	
}

.navigation {

	margin: 50px 0px;	
	padding: 0px 5%;

	position: absolute;
	top: 0px; right: 0px;

	width: 25%;
	height: 100%;

	text-align: right;	
	
}

/* GENERIC ELEMENTS */

a {

	text-decoration: none;
	color: black;	
}

a:hover {

	color: #1CA1D2;
}

/* SPECIFIC ELEMENTS */

.pin {

	margin: 10px 0px;
	
	border-radius: 3px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33);
}

.pin-image {	

	width: 100%;

	-moz-border-radius: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px; 
	
	margin-bottom: -2px;
}

.pin-desc {

	text-align: left;
	padding: 10px 10px;

	border-top: 1px solid rgb(231, 231, 231)
}

.pin-credit {

	text-align: left;
	font-size: 11px;
	border-top: 1px solid rgb(231, 231, 231)
}

